

/*
CSS file used by the Application

It provides placement and style information for the components in the app
and only exists for aesthetic purposes. The app would work just fine if this
file was empty.
*/

/* Imports a font from google fonts, SIL Open Font License,*/
@import url('https://fonts.googleapis.com/css2?family=Coda+Caption&family=Share+Tech+Mono&display=swap');

/* Centers component with ID "map-wrapper" and sets width and bottom spacing */
#map {
    margin: 20px auto;
    width: 800px;
}

/* Sets size of map, which has class name "leaflet-container" */
.leaflet-container {
    width: 800px;
    height: 600px;
}

/* Aligns dropdown menu, and sets a custom font */
#selection-component {
    text-align: center;
    margin: 5px;
    font-family: 'Share Tech Mono', monospace;
}

/* Aligns button */
#selection-component button {
    margin: 2px 5px;
}

/* Aligns title and sets a custom font*/
#app-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
    font-family: 'Share Tech Mono', monospace;
}

/* Style for the paragraph in info */
#info-paragraph {
    text-align: center;
    font-size: 20px;
    margin: 10px;
    font-family: 'Share Tech Mono', monospace;
}
